<!DOCTYPE html>
<html>
  <head>
    <title>Uploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'Gifts', gifts_path %>|<%= link_to "Checkout", new_charge_path %>|<%= link_to "Empty Cart", empty_cart_path %>
  <%= session[:total] if session[:total] %>
    <%= yield %>
  </body>
</html>
