<p id="notice"><%= notice %></p>

<h2>Buy Tickets</h2>
<p>
  <%= link_to 'Buy Water Ticket', buy_ticket_rides_path(ticket_type: :water) %><br/>
  <%= link_to 'Buy Magic Kingdom Ticket', buy_ticket_rides_path(ticket_type: :magic_kingdom) %><br/>
  <%= link_to 'Buy Hopper Ticket', buy_ticket_rides_path(ticket_type: :hopper) %><br/>
  <%= link_to 'Hire that man!', hire_rides_path %></br>

  <%= link_to 'Reset Roles', reset_ticket_rides_path %><br/>
</p>
<% if user_signed_in? %>
  <p>
    Citizen? <%= current_user.has_role? :citizen %><br/>
    Guest? <%= current_user.has_role? :guest %><br/>
    Magic Kingdom? <%= current_user.has_role? :magic_kingdom %><br/>
    Water? <%= current_user.has_role? :water %><br/>
    Hopper? <%= current_user.has_role? :hopper %><br/>
    Staff? <%= current_user.has_role? :staff %><br/>
  </p>
<% end %> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Park</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= ride.name %></td>
        <td><%= ride.park.titleize %></td>
        <td><%= link_to 'Show', ride %></td>
        <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride', new_ride_path %>
