<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @contact_detail.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_detail.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_detail.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact_detail.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact_detail.facebook %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contact_detail.url %>
</p>

<%= link_to 'Edit', edit_contact_detail_path(@contact_detail) %> |
<%= link_to 'Back', contact_details_path %>
