<p id="notice"><%= notice %></p>
<p>
  Name: <%= @gift.name %><br/>
  PriceL $<%= @gift.price %>
</p>
<p>
  <%= image_tag(@gift.picture.url, size: "200") %>
</p>

<%= link_to 'Add to Cart', add_to_cart_path(gift: @gift.id) %>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
